@page
@model RsDistributors.Pages.Admin.SellerModel
@{
}
 <div class="container seller-container">
        <div class="row"></div>

       <div class="row">
            <form method="post" class="col-lg-3">
                <h3 class="product-details text-danger">Seller Details</h3>

                 <div class="mb-3">
                    <label for="CategoryTb" class="form-label">Seller Category</label>
                    <div>
                        <select class="form-control" asp-for="Seller.Category" asp-items="Model.Categories"></select>
                        <span style="color:red;" asp-validation-for="Seller.Category"></span>
                   </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.Name" class="form-label">Seller Name</label>
                    <input type="text" class="form-control" asp-for="Seller.Name">
                    <span style="color:red;" asp-validation-for="Seller.Name"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.Email" class="form-label">Seller Email</label>
                    <input type="Email" class="form-control" asp-for="Seller.Email">
                    <span style="color:red;" asp-validation-for="Seller.Email"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.Phone" class="form-label">Seller Phone</label>
                    <input type="text" class="form-control" asp-for="Seller.Phone">
                    <span style="color:red;" asp-validation-for="Seller.Phone"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.NIC" class="form-label">Seller NIC</label>
                    <input type="text" class="form-control" asp-for="Seller.NIC">
                    <span style="color:red;" asp-validation-for="Seller.NIC"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.Address" class="form-label">Seller Address</label>
                    <input type="text" class="form-control" asp-for="Seller.Address">
                    <span style="color:red;" asp-validation-for="Seller.Address"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Seller.Password" class="form-label">Seller Password</label>
                    <input type="text" class="form-control" asp-for="Seller.Password">
                    <span style="color:red;" asp-validation-for="Seller.Password"></span>
                </div>

                <div>
                    <button class="btn btn-danger product-btn" type="submit" asp-page-handler="SaveSeller">Save</button><br/><br/>
                    <span>@Model.ErrMsg</span>
                </div>
            </form>
            <div class="col-lg-9 table-responsive mb-5">
                <h3 class="text-danger mb-3">Sellers List</h3>
                <table class="table table-bordered table-hover mb-4">
                    <thead class="table-danger">
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Phone</th>
                            <th>NIC</th>
                            <th>Address</th>
                            <th>Password</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var seller in Model.Sellers)
                        {
                            <tr>
                                <td>@seller.Category</td>
                                <td>@seller.Name</td>
                                <td>@seller.Email</td>
                                <td>@seller.Phone</td>
                                <td>@seller.NIC</td>
                                <td>@seller.Address</td>
                                <td>@seller.Password</td>
                                <td>
                                    <div style="display: flex; gap: 7px;">
                                    <a style="width: 60px;" class="btn btn-sm btn-warning mb-1" asp-page-handler="EditSeller" asp-route-id="@seller.ID">Edit</a>
                                    <a style="width: 60px;" class="btn btn-sm btn-danger mb-1" asp-page-handler="DeleteSeller" asp-route-id="@seller.ID">Delete</a>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
