@page
@model RsDistributors.Pages.Admin.ShopModel
@{
}
 <div class="container seller-container">
        <div class="row"></div>

       <div class="row">
            <form method="post" class="col-lg-3">
                <h3 class="product-details text-danger">Shop Details</h3>

                 <div class="mb-3">
                    <label for="CategoryTb" class="form-label">Shop Category</label>
                    <div>
                        <select class="form-control" asp-for="Shop.Category" asp-items="Model.Categories"></select>
                        <span style="color:red;" asp-validation-for="Shop.Category"></span>
                   </div>
                </div>

                <div class="mb-3">
                    <label asp-for="Shop.Name" class="form-label">Shop Name</label>
                    <input type="text" class="form-control" asp-for="Shop.Name">
                    <span style="color:red;" asp-validation-for="Shop.Name"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Shop.Area" class="form-label">Shop Area</label>
                    <input type="text" class="form-control" asp-for="Shop.Area">
                    <span style="color:red;" asp-validation-for="Shop.Area"></span>
                </div>

                <div class="mb-3">
                    <label asp-for="Shop.Phone" class="form-label">Shop Phone</label>
                    <input type="text" class="form-control" asp-for="Shop.Phone">
                    <span style="color:red;" asp-validation-for="Shop.Phone"></span>
                </div>

                <div>
                    <button class="btn btn-danger product-btn" type="submit" asp-page-handler="SaveShop">Save</button><br/><br/>
                    <span>@Model.ErrMsg</span>
                </div>
            </form>
            <div class="col-lg-9 table-responsive mb-5">
                <h3 class="text-danger mb-3">Shop List</h3>
                <table class="table table-bordered table-hover mb-4">
                    <thead class="table-danger">
                        <tr>
                            <th>Category</th>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Phone</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var Shop in Model.Shops)
                        {
                            <tr>
                                <td>@Shop.Category</td>
                                <td>@Shop.Name</td>
                                <td>@Shop.Area</td>
                                <td>@Shop.Phone</td>
                                <td>
                                    <div style="display: flex; gap: 7px;">
                                    <a style="width: 60px;" class="btn btn-sm btn-warning mb-1" asp-page-handler="EditShop" asp-route-id="@Shop.ID">Edit</a>
                                    <a style="width: 60px;" class="btn btn-sm btn-danger mb-1" asp-page-handler="DeleteShop" asp-route-id="@Shop.ID">Delete</a>
                                    </div>
                                    
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>